<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<h2><center>Registration Form</center></h2>
<div>
    <form method='post'>
        <label>Name</label><br>
        <input name = 'one' id = 'name' type = 'text' placeholder = 'Enter your name'><br><br>
        <label>Username</label><br>
        <input name = 'two' id="username" type = 'email' placeholder = 'Your email is the username'><br><br>
        <label>Password</label><br>
        <input name = 'three' id="password" type = 'password' placeholder = 'Enter your password'><br><br>
        <input type='submit' value='Register'><br><br>
    </form>
</div>
</body>
</html>